*.mk filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.dia filter=lfs diff=lfs merge=lfs -text
*.S filter=lfs diff=lfs merge=lfs -text
*.p12 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.BOOTCHART filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.mf filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.gprs-pppd filter=lfs diff=lfs merge=lfs -text
*.testmenu filter=lfs diff=lfs merge=lfs -text
*.y filter=lfs diff=lfs merge=lfs -text
*.l filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.pat filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.out-orig filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.logtags filter=lfs diff=lfs merge=lfs -text
*.fstab filter=lfs diff=lfs merge=lfs -text
*.prop filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.t filter=lfs diff=lfs merge=lfs -text
*.orig filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.vcf filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.auditd filter=lfs diff=lfs merge=lfs -text
*.property filter=lfs diff=lfs merge=lfs -text
*.clang-format filter=lfs diff=lfs merge=lfs -text
*.hourly filter=lfs diff=lfs merge=lfs -text
*.rules filter=lfs diff=lfs merge=lfs -text
*.gyp filter=lfs diff=lfs merge=lfs -text
*.project_alias filter=lfs diff=lfs merge=lfs -text
*.list filter=lfs diff=lfs merge=lfs -text
*.gypi filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
*.options filter=lfs diff=lfs merge=lfs -text
*.bp filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.aidl filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.clang-format-2 filter=lfs diff=lfs merge=lfs -text
*.clang-format-4 filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.odex filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.bash filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.avbpubkey filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.sysprop filter=lfs diff=lfs merge=lfs -text
